<aside class="card post">
    <div class="card-body">
        <p class="card-subtitle">
            {{user.name}} on {{format_date date_created}}
        </p>
        <p class="card-text">
            {{comment_body}}
        </p>
    </div>
</aside>