<article class="card">
  <div class="card-body post">
    <div class="col-md-5 card-title">
      <h3>
        {{post.title}}
      </h3>
      <p class="card-subtitle">Created by {{post.user.name}} on {{format_date post.date_created}}</p>
    </div>
    <div class="col-md-7 card-text">
      <p>
        {{post.post_body}}
      </p>
    </div>
  </div>
</article>
<div>
  <h4 class="comment mx-3 px-3">
    <p>Comments</p>
  </h4>
  {{#each post.comments as |comment|}}
  {{> comments}}
  {{/each}}
</div>
<div>
  {{> new-comment}}
</div>


<script src="/js/new-comment.js"></script>